<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_project_management_root"
              name="Project Management"
              sequence="15"/>

    <menuitem id="menu_pm_operations"
              name="Quản lý"
              parent="menu_project_management_root"
              sequence="1"/>

    <menuitem id="menu_pm_projects"
              name="Dự án"
              parent="menu_pm_operations"
              action="action_projects"
              sequence="10"/>

    <menuitem id="menu_pm_taskss"
              name="Công việc"
              parent="menu_pm_operations"
              action="action_taskss"
              sequence="20"/>

    <menuitem id="menu_pm_budgets"
              name="Ngân sách"
              parent="menu_pm_operations"
              action="action_budgets"
              sequence="30"/>

</odoo>